
.animate-pulse-soft {
    animation: pulseSoft 2s ease-in-out infinite;
}

@keyframes pulseSoft {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

emoji-picker {
  --num-columns: 8;
  --emoji-size: 1.2rem;
  height: 350px;
  width: 320px;
}
